{% extends "main.html" %} {% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
      {% csrf_token %}
      <label>Username</label>
      <input type="text" name="username" placeholder="username" />
      <label>Password</label>
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="login" />
    </form>
    <p>Hala kayıt olmadın mı ?</p>
    <a href={% url "register" %}>Kayıt Ol</a>
  </div>
{% else %}
<div>
    <form method="POST" action="">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="register" />
    </form>
    <p>Zaten kayıtlı mısın ?</p>
    <a href={% url "login" %}>Giriş yap</a>
  </div>
{% endif %}




{% endblock content %}
